
<div class="container">
  <div class="row">
    <div class="col-lg-7 col-md-7 col-md-12">
      <div class="content">
        <app-tittle tittle="Order Summary" fontSize="1.6rem"></app-tittle>
        <div class="summary">
          <div>
            <h3>Name:</h3>
            <span>{{order.name}}</span>
          </div>
          <div>
            <h3>Address:</h3>
            <span>{{order.address}}</span>
          </div>
        </div>
        <order-items-list [order]="order"></order-items-list>
      </div>
    </div>
    <div class="col-lg-5 col-md-5 col-md-12">
      <div class="map">
        <app-tittle
        tittle="Shipping Address"
        fontSize="1.6rem"></app-tittle>
        <map [order]="order" [readonly]="true"></map>
      </div>
      <div class="buttons-container">
        <div class="buttons">
          <paypal-button [order]="order">
          </paypal-button>
        </div>
      </div>
    </div>
  </div>
</div>