<section class="form__wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="form__contant">
                    <div class="form__title">
                        <h1>User Profile</h1>
                    </div>
                    <form>
                        <div class="row">                            
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 col-12">                                                                                
                                            <label for="userName">Name :</label>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <p style="font-size: 15px;">{{loggedUser.name}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                                      
                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 col-12">                                                                                
                                            <label for="emailId">Email :</label>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <p style="font-size: 15px;">{{loggedUser.email}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12 mb-3">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-4 col-12">
                                            <label for="Address">Address :</label>
                                        </div>
                                        <div class="col-md-8 col-12">
                                            <p style="font-size: 15px;">{{loggedUser.address}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

